@model IEnumerable<Ecommerce_WebSite_Clothes_Electronics_Jawlary_.Models.Category>

@{
    ViewData["Title"] = "Index";
}


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">Categories</h2>
                        <div class="breadcrumb-wrapper col-12">

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-body">
            <!-- Basic Tables start -->
            <div class="row" id="basic-table">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Categories</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <a class="btn btn-success waves-effect waves-light" asp-action="Create">Add New Category</a>
                                <!-- Table with outer spacing -->
                                <div class="table-responsive">
                                    <table class="table table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th> Name</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>
                                                        <a asp-action="Edit" asp-route-id="@item.ID" class=" btn btn-primary">Edit</a> |
                                                        <a onclick="return confirm('Are You Shure')" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Basic Tables end -->

        </div>
    </div>
</div>